section {
  margin: 20px auto;
  width: 500px;
}
article {
  text-align: center;
}
article div {
  background-color: #c0c0c0;
  display: inline-block;
  height: 100px;
  margin: 0px 0px -4px -4px;
  width: 100px;
}
.maroon {
  background-color: rgb(80,0,0);
} 
.red {
  background-color: rgb(255,0,0);
}
.orange {
  background-color: rgb(255,100,0);
}
.yellow {
  background-color: rgb(255,255,0);
}
.olive {
  background-color: rgb(69,90,0);
}
.purple {
  background-color: rgb(100,0,90);
}
.fuchsia {
  background-color: rgb(226,0,255);
}
.white {
  background-color: rgb(255,255,255);
}
.lime {
  background-color: rgb(100,255,0);
}
.green {
  background-color: rgb(8,93,25);
}
.navy {
  background-color: rgb(42,39,108);
}
.blue {
  background-color: rgb(0,0,255);
}  
.aqua {
  background-color: rgb(0,218,255);
}  
.teal {
  background-color: rgb(10,178,176);
}  
.black {
  background-color: rgb(0,0,0);
}  
.silver{
  background-color: rgb(205,205,205);
}  
.gray {
  background-color: rgb(105,105,105);
}