section {
  background-color: #f5bee5;
  border: 4px dotted #ba539f;
  height: 600px;
  width: 800px;
}
section div.box {
  background-color: #ccc;
  height: 100px;
  width: 20px;
/* Margenes: Forma Larga */
  margin-top: 100px;
  padding: 100px;
  margin-right: 130px;
  padding: 100px;
  margin-bottom: 200px;
  padding: 100px;
  margin-left: 250px;
  padding: 100px;
/* Margenes: Forma Corta */
  margin: 100px 130px 200px 250px;
}
