doctype
html
  head
  title Mi sitio web
  style
    include style.css
  body
    h1 Mi sitio
    p Bienvenidos a mi sitio web.
    script
      include script.js
      h1 Hola
      console.log('You are awesome');
      S