doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title Interpolacion (jade)
  body
    h1 Etiquetas
    
    ul
      li Item A
      li Item B
      li Item C
    
    img
    
    a: img
    
    foo/
    foo(bar='baz')/
    