<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>Codigo (jade)</title>
  </head>
  <body>
    <h1>Codigo (jade)</h1>
    <!-- Ciclo For-->
    <ul>
      <li>elemento 1</li>
      <li>elemento 2</li>
      <li>elemento 3</li>
      <li>elemento 4</li>
      <li>elemento 5</li>
      <li>elemento 6</li>
      <li>elemento 7</li>
      <li>elemento 8</li>
      <li>elemento 9</li>
      <li>elemento 10</li>
    </ul>
    <!-- Ciclo Each a un Arreglo    -->
    <ol>
      <li>Chaman</li>
      <li>Druida</li>
      <li>Guerrero</li>
      <li>Paladin</li>
      <li>Brujo</li>
      <li>Caballero de la Muerte</li>
    </ol>
  </body>
</html>