body
	background-color #a10a43
	color blue
	font 16px Arial
section
	border 20px solid #75682e
	background-color #fff
	height 300px
	width 300px
	margin 40px auto
	text-align center
section.pointer
	cursor pointer
section.move
	cursor move
section.wait
	cursor wait
section.help
	cursor help
section.image
	cursor url(../imgs/Espada.png), default